/*melting font-family*/
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

body {
  background: linear-gradient(#120275, #2200f0d6, #8c00fbbf);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Baskervville", "Nanum Pen Script", serif; /*only "melting"*/
  text-shadow: 0px 0px 10px white;
  color: rgb(238, 244, 255);
  overflow: hidden;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Snowflake */
.snow-container {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-between;
}
.snow-flake {
  color: white;
  animation: fall 5s linear infinite;
}
@keyframes fall {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 100vh);
    opacity: 0;
  }
}
/* background */
.Start,
.Login,
.Signup,
.Mypage {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 650px) {
  .Start,
  .Login,
  .Signup,
  .Mypage {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .Start,
  .Login,
  .Signup,
  .Mypage {
    width: 90vw;
  }
}

/* Start */

.Start h1 {
  margin-bottom: 10px;
}
.Start span {
  font-size: 27px;
}

.Start img {
  width: 60%;
}

.Start ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.Start li {
  list-style: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  width: 320px;
  height: 30px;
  background-color: #9bb7ff;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Start #mypageBtn {
  background-color: #9bb7ff;
}

.Start a {
  color: white;
  text-decoration: none;
  padding: 10px 80px;
  font-size: 30px;
}

/* Outside */

.Outside {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.Outside .snowman {
  margin-top: auto;
  width: 244px;
  height: 305px;
}

.Outside ul {
  margin-top: auto; /* 나머지 공간을 위에 둡니다. */
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Outside li {
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

@media (min-width: 650px) {
  .Outside {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .Outside {
    width: 90vw;
  }
}

/* Diary */

.Diary,
.January,
.February,
.March,
.April,
.May,
.June,
.July,
.August,
.September,
.October,
.November,
.December {
  min-height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 650px) {
  .Diary,
  .January,
  .February,
  .March,
  .April,
  .May,
  .June,
  .July,
  .August,
  .September,
  .October,
  .November,
  .December {
    width: 640px;
  }
  .January .diaryPage,
  .February .diaryPage,
  .March .diaryPage,
  .April .diaryPage,
  .May .diaryPage,
  .June .diaryPage,
  .July .diaryPage,
  .August .diaryPage,
  .September .diaryPage,
  .October .diaryPage,
  .November .diaryPage,
  .December .diaryPage {
    width: 600px;
    height: 80vh;
  }
}

@media (max-width: 650px) {
  .Diary,
  .January,
  .February,
  .March,
  .April,
  .May,
  .June,
  .July,
  .August,
  .September,
  .October,
  .November,
  .December {
    width: 90vw;
  }
  .January .diaryPage,
  .February .diaryPage,
  .March .diaryPage,
  .April .diaryPage,
  .May .diaryPage,
  .June .diaryPage,
  .July .diaryPage,
  .August .diaryPage,
  .September .diaryPage,
  .October .diaryPage,
  .November .diaryPage,
  .December .diaryPage {
    width: 90%;
    height: 80vh;
  }
}

.Diary h1,
.January h1,
.February h1,
.March h1,
.April h1,
.May h1,
.June h1,
.July h1,
.August h1,
.September h1,
.October h1,
.November h1,
.December h1 {
  margin-top: 40px;
}

.Diary a,
.January a,
.February a,
.March a,
.April a,
.May a,
.June a,
.July a,
.August a,
.September a,
.October a,
.November a,
.December a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.January .diaryPage,
.February .diaryPage,
.March .diaryPage,
.April .diaryPage,
.May .diaryPage,
.June .diaryPage,
.July .diaryPage,
.August .diaryPage,
.September .diaryPage,
.October .diaryPage,
.November .diaryPage,
.December .diaryPage {
  background-color: white;
}

.January label,
.February label,
.March label,
.April label,
.May label,
.June label,
.July label,
.August label,
.September label,
.October label,
.November label,
.December label {
  font-size: 23px;
}

.Diary a {
  padding: 5px;
  margin-top: auto;
}

/* Login */
.Login {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

/* Signup */
.Signup {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

/* Mypage */
.Mypage {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.Mypage .recommenList {
  text-align: center;
  font-size: 30px;
  margin-right: 20px;
}

.Mypage .buttonList {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.Mypage button {
  background-color: #9bb7ff;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 20px;
  color: white;
  font-family: "Baskervville", "Nanum Pen Script", serif; /*only "melting"*/
  font-size: 20px;
  cursor: pointer;
}

.Mypage textarea {
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  height: 100px;
  margin-bottom: 30px;
  font-family: "Baskervville", "Nanum Pen Script", serif; /*only "melting"*/
  font-size: 18px;
}

.Mypage p {
  font-size: 25px;
  margin: 5px;
}

.Mypage .area {
  display: flex;
  margin-top: 20px;
}
