/*melting font-family*/
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Hina+Mincho&display=swap");

body {
  background: linear-gradient(#120275, #2200f0d6, #8c00fbbf);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Baskervville", serif; /*only "melting"*/
  color: rgb(238, 244, 255);
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* Start */
.Start {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Start img {
  width: 244px;
  height: 305px;
}

@media (min-width: 650px) {
  .Start {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .Start {
    width: 90vw;
  }
}

.Start ul {
  list-style: none;
  margin-top: 20px;
  padding: 10px;
  width: 320px;
  height: 30px;
  background-color: #7ca1ff;
  border-radius: 15px;
  text-align: center;
}

.Start a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

/* Outside */

.Outside {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.Outside .snowman {
  margin-top: auto;
  width: 244px;
  height: 305px;
}

.Outside ul {
  margin-top: auto; /* 나머지 공간을 위에 둡니다. */
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Outside li {
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

@media (min-width: 650px) {
  .Outside {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .Outside {
    width: 90vw;
  }
}

/* Diary */

.Diary,
.January,
.February,
.March,
.April,
.May,
.June,
.July,
.August,
.September,
.October,
.November,
.December {
  min-height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 650px) {
  .Diary,
  .January,
  .February,
  .March,
  .April,
  .May,
  .June,
  .July,
  .August,
  .September,
  .October,
  .November,
  .December {
    width: 640px;
  }
  .January .diaryPage,
  .February .diaryPage,
  .March .diaryPage,
  .April .diaryPage,
  .May .diaryPage,
  .June .diaryPage,
  .July .diaryPage,
  .August .diaryPage,
  .September .diaryPage,
  .October .diaryPage,
  .November .diaryPage,
  .December .diaryPage {
    width: 600px;
    height: 80vh;
  }
}

@media (max-width: 650px) {
  .Diary,
  .January,
  .February,
  .March,
  .April,
  .May,
  .June,
  .July,
  .August,
  .September,
  .October,
  .November,
  .December {
    width: 90vw;
  }
  .January .diaryPage,
  .February .diaryPage,
  .March .diaryPage,
  .April .diaryPage,
  .May .diaryPage,
  .June .diaryPage,
  .July .diaryPage,
  .August .diaryPage,
  .September .diaryPage,
  .October .diaryPage,
  .November .diaryPage,
  .December .diaryPage {
    width: 90%;
    height: 80vh;
  }
}

.Diary h1,
.January h1,
.February h1,
.March h1,
.April h1,
.May h1,
.June h1,
.July h1,
.August h1,
.September h1,
.October h1,
.November h1,
.December h1 {
  margin-top: 40px;
}

.Diary a,
.January a,
.February a,
.March a,
.April a,
.May a,
.June a,
.July a,
.August a,
.September a,
.October a,
.November a,
.December a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.January .diaryPage,
.February .diaryPage,
.March .diaryPage,
.April .diaryPage,
.May .diaryPage,
.June .diaryPage,
.July .diaryPage,
.August .diaryPage,
.September .diaryPage,
.October .diaryPage,
.November .diaryPage,
.December .diaryPage {
  background-color: white;
}

.Diary a {
  padding: 5px;
  margin-top: auto;
}
